<div class="container">


  <h1>Model Driven Registration Form</h1>
  <form [formGroup]="myForm">
    <div>
      <div class="form-group">
        <label for="username" >Username</label>
        <input type="text" class="form-control" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" class="form-control" id="email" formControlName="email" >
        <div >
          <span > not a valid email</span>
          <span > Email Required</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password"  >
    </div>
   <div class="radio" >
      <label>Would you like to receive a newsletter? </label>
      <label><input type="radio" value="yes" name="newsletter" formControlName="newsletter" >yes</label>
      <label><input type="radio" value="no" name="newsletter" formControlName="newsletter">no</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <p>form: {{myForm.value | json }}</p>
</div>