<div class="container">


  <h1>Template Driven Registration Form</h1>
  <form>
    <div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" >
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" class="form-control" id="email">
        <div >
          <span > not a valid email</span>
          <span > Email Required</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" >
    </div>
   <div class="radio" >
      <label>Would you like to receive a newsletter? </label>
      <label><input type="radio" value="yes" name="newsletter">yes</label>
      <label><input type="radio" value="no" name="newsletter">no</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>