<div class="container">


  <h1>Template Driven Registration Form</h1>
  <form  #f="ngForm">
    <div>
      <div>
        <label for="username">Username</label>
        <input [ngModel]="name" type="text" class="form-control" name="username" >
      </div>
      <div>
        <label for="email">E-Mail</label>
        <input ngModel type="text" class="form-control" name="email">
        <div >
          <span > not a valid email</span>
          <span > Email Required</span>
        </div>
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input ngModel type="password" class="form-control" name="password" >
    </div>
   <div class="radio" >
      <label>Would you like to receive a newsletter? </label>
      <label><input ngModel type="radio" value="yes" name="newsletter">yes</label>
      <label><input ngModel type="radio" value="no" name="newsletter">no</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p> form: {{f.value | json}}}</p>
</div>